.my_modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 900;
}
.my_modal_content{
    width: 30%;
    margin: 220px auto;
}
@media (max-width: 992px) {
    .my_modal_content{
        width: 90%;
        margin: 40px auto;
    }
}